.inputSearchcs {
    padding-right: 1rem;
}

.menuSelect {
    display: flex;
    padding: 0px;
    list-style: none;
}

.menuButton {
    margin-right: 1rem;
}

.menuHeader {
    padding-inline: 2rem;
}